body {
    margin: 0;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    text-overflow: ellipsis;

}


#container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    display: inline-grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(2, fit-content(30%));
    grid-template-areas: 
    "sideNav header"
    "sideNav body"
    }

#sideNav {
    background-color: #1992D4;
    color: white;
    grid-area: sideNav; 
    display: flex;
    flex-direction: column;
}


#sideNav1 {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: repeat(4, fit-content(40%));


}

.sideNavheader {
    
    grid-column: 1/2;
    justify-self: right;
    content: url("view-dashboard.png");
    padding-top: 10px;

}
.sideNavheader-content{
    align-self: center;
    font-size: 16px;
    grid-column: 2/3;
    padding-top: 15px;
    padding-bottom: 25px;

}



#sideNav2 > div {
    padding: 10px;
}

.home{
    grid-column: 1/2;
    justify-self: right;
    content: url("home(1).png");
    width: 21px;
    height: 21px;
}

.home-content {
    grid-column: 2/3;
    align-self: initial;
    padding-top: 4px;
}
.profile {
    content: url("card-account-details.png");
    grid-column: 1/2;
    justify-self: right;
    width: 21px;
    height: 21px;

}
.profile-content {
    grid-column: 2/3;
    padding-top: 4px;

}
.messages {
    content: url("message-reply.png") ;
    grid-column: 1;
    justify-self: right;
    padding-top: 4px;
    width: 21px;
    height: 21px;stroke: ;



}
.messages-content {
    grid-column: 2/3;
    padding-top: 4px;

}
.history {
    content: url("clock-time-three.png") ;
    grid-column: 1/2;
    justify-self: right;
    width: 21px;
    height: 21px;

}
.history-content {
    grid-column: 2/3;
    padding-top: 4px;


}
.tasks {
    content: url("file-multiple.png") ;
    grid-column: 1;
    justify-self: right;
    width: 21px;
    height: 21px;

}
.tasks-content {
    grid-column: 2/3;
    padding-top: 4px;

}
.communities {
    content: url("account-group.png") ;
    grid-column: 1;
    justify-self: right;
    width: 21px;
    height: 21px;

}

.communities-content {
    grid-column: 2/3;
    padding-bottom: 30px;
    padding-top: 4px;


}

.settings {
    content: url("cog.png") ;
    grid-column: 1;
    justify-self: right;
    width: 21px;
    height: 21px;

}
.settings-content {
    grid-column: 2/3;
    padding-top: 4px;

}

.support {
    content: url("help-box.png") ;
    grid-column: 1;
    justify-self: right;
    width: 21px;
    height: 21px;
}
.support-content {
    grid-column: 2/3;
    padding-top: 4px;

}
.privacy {
    content: url("shield-check.png") ;
    grid-column: 1;
    justify-self: right;
    width: 21px;
    height: 21px;
}

.privacy-content{
    grid-column: 2/3;
    padding-top: 4px;

}

#other {
    grid-column: 2;
    display: grid;
    padding-right: 15px;
    grid-template-rows: fit-content(40%) fit-content(40%) 1fr
}



#body {
    grid-area: body;
    background-color: #E2E8F0;
    display: inline-grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 5% fit-content(40%);
    column-gap: 20px;
    padding: 20px;
}

#yourProjects {
    display: inline-grid;
    row-gap: 20px;
    column-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, fit-content(70%));
}



#projectTitle {
    grid-column: 1 / 2;
    grid-row: 1;
    padding-top: 10px;
    font-size: 14px;
}
#yourProjects > div {
    background-color: white;
}

.projects {
    border: solid;
    border-width: 0;
    border-radius: 8px;
    border-left-color: #FACC15;
    border-left-width: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    padding: 15px;


}
.style {
    grid-column: 1;
    grid-row: 1/3;
}


.projects > p {
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: #B1B1B1;
    font-size: 10px;
    grid-column: 2;
    grid-row: 2;

}

.projects > h3 {
    display: inline-block;
    font-size: 12px;
    font-weight: 550;
    margin: 0;
    grid-column: 2;
    grid-row: 2;
}


.iconContainer {
    padding-right: 10px;
    grid-row: 3;
    grid-column: 2;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    gap: 12px;
    

}

.favorite {
    background-image: url("star-plus-outline\(2\).png");
    background-size: 18px 18px;
    width: 18px;
    height: 18px;
}
.watch {
    background-image: url("eye-plus-outline.png");
    background-size: 18px 18px;
    width: 18px;
    height: 18px;
}

.share{
    background-image: url("share-variant-outline.png");
    background-size: 18px 18px;
    width: 18px;
    height: 18px;   
}




#announcement {
    grid-column: 2 /3;
    grid-row: 1;
    padding-top: 10px;
    font-size: 14px;

}

#aContainer {
    grid-column: 1;
    grid-row:1;
    border: solid;   
    border-radius: 8px;
    border-width: 0;
    background-color: white;
    padding: 20px;

}

#tContainer {
    grid-column: 1;
    grid-row:3;
    padding: 20px;

    border-radius: 8px;
    background-color: white;
 
}



.announcement {
    overflow: hidden;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    padding-bottom: 5px;
    margin-bottom: 7px;

}
.announcement > h4 {
    font-size: 10px;;
}
.announcement > p {
    font-size: 8px;
    padding: 0;
    margin: 2px;
    color: #B1B1B1;

}

#trendin1pic {
    display: inline-block;
    border-radius: 50%;
    background-color: #FACC15;
    width: 28px;
    height: 28px;
    margin-right: 10px;
    vertical-align: text-bottom;

}

#trending1, #trending2, #trending3, #trending4 {
    display: inline-block;

}


#trending {
    font-size: 14px;
    grid-row:2;
    padding-top: 20px;
    padding-bottom: 10px;
}

.trending {
    padding-bottom: 10px;
}
.trending > h4 {
    font-size: 10px;
    font-weight: 500;
}

.trending > p {
    font-size: 8px;
    margin: 0;
    padding: 0;
}


#header {
    grid-area: header;
    display: grid;
    row-gap: 15px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

}

#topHeader {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 1fr;

}

#topheader-left {
    grid-column: 1;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 50px;
    align-items: center;

}

#topheader-right {
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: row;

}


#searchIcon{
    position:absolute;
    background-image: url("search.png");
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    top: 17px;
    left: 25px;
}



#searchbar {
    background-color: #E2E8F0;
    width: 74%;
    height: 40%;
    text-align: center;
    border-radius: 10px;
    border-color: #E2E8F0;
    border-width: 0px;
    text-decoration: none;
    font-size: 17px;
  }

  #alertsIcon {
    background-image: url("bell-ring-outline.png");
    background-size: 20px 20px;
    width: 20px;
    height: 20px;

}

#profilepic {
    border-radius: 50%;
    background-color: #FACC15;
    width: 33px;
    height: 33px;
}

#name {
    grid-row: 1;
    font-size: 12px;
    font-weight: 500;
}

#bottomHeader {
    display: grid;
    grid-template-columns: 65% 35%;
    align-items: center;
    grid-template-rows: 1fr;
    

}
#leftContainer {
    grid-column: 1;
    grid-row:1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
    padding-bottom: 10px;

}

#profilepic2 {

    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #FACC15;

}
#profilename {
    font-size: 12px;
    font-weight: 500;
    padding-left: 10px;


}

.nametag {
    font-size: 14px;
    font-weight: 600;
}

#buttonContainer {
    grid-column: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

button {
    margin: 10px;
    border-radius: 16px;
    font-size: 10px;
    height: 25px;
    width: 60px;
    border: none;
    background-color: #1992D4;
    color: white;
}

.new {


}
.upload {

}
.sharebutton{
}

h2 {
    margin: 0;
    font-size: 21px;
    font-weight: 500;
}


h4 {
    margin:0
}